<div class="game">

  <div class="heading">
    <h2>
      Winner: <span class="winner">{{winner}}</span>
    </h2>
    <h2>
      Player: <span>{{player}}</span>
    </h2>
    <div>
      <button (click)="reset()" class="btn-reset">Reset Game</button>
    </div>
  </div>

    <section class="board">
      <div *ngFor="let row of [1, 2, 3]; let i = index;">
        <button class="square" (click)="onClick(i,j)" *ngFor="let col of [1, 2, 3]; let j=index;" >
          <p class="playerId">{{board[i][j]}} </p>
        </button>
      </div>
    </section>
</div>

